aiohttp
amcrest
asyncio-mqtt
backoff
coloredlogs
flvlib3@https://github.com/zkonge/flvlib3/archive/master.zip
hikvisionapi>=0.3.2
semver
packaging
pyunifiprotect
reolinkapi
websockets>=9.0.1
xmltodict
pytapo
