name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip virtualenv
        virtualenv venv
        source venv/bin/activate
        pip install -e .[test]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        source venv/bin/activate
        flake8 --show-source --statistics
    - name: Check imports with isort
      run: |
        source venv/bin/activate
        isort . --check-only --diff
    - name: Run Pyre
      run: |
        source venv/bin/activate
        pyre check
