name: Test
on:
  push:
    branches: [ main ]
    paths-ignore:
      - docs/**
      - .github/workflows/docs.yml
  pull_request:
    branches: [ main ]
    paths-ignore:
      - docs/**
      - .github/workflows/docs.yml

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip virtualenv
        virtualenv venv
        source venv/bin/activate
        pip install -e .[test]
    - name: Lint with flake8
      run: |
        source venv/bin/activate
        flake8 --show-source --statistics
    - name: Check imports with isort
      run: |
        source venv/bin/activate
        isort . --check-only --diff
    - name: Run Pyre
      run: |
        source venv/bin/activate
        pyre check
